.clase{
color:white;
text-align: center;
font-size: 50px;

}
.clase2{

    color: dark black;
    text-align: center;
    font-size: 25px;
}

.clase3{

    color: dark black;
    text-align: center;
    
}